*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.image_box{
    width:88%;
    height:83%;
    position:absolute;
    bottom: 0;
    right:60px;
}   
.image_box img{
    filter: drop-shadow(12px 2px #ff5580);
    height: 100%;
    position: absolute;    
    left:50%;
    bottom:0%;      
}
#header{
    background-color: #ffd0dd;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;  

}
nav{
    width: 85%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    width:150px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 10px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

nav ul li a{
    text-decoration: none;
    color: #ff5580;
}

nav ul li a:hover{
    font-weight: 800;
}
.info{
   
    padding: 30px 20px;
    padding-top:10px;
    background-color: #ffd0dd;
    width: 52%;
    margin-top: 9%;
    margin-left: 6%;
    border-radius: 30px;
}
.info h1{
    font-size: 40px ;
    text-align: center;
    margin-bottom: 20px;
    color: #ff5580;
    font-family: "Playwrite AU NSW", cursive;
}

.info p{
    text-align:center;
    color: #ff5580;
    font-size: 15px;
    font-weight: bold;
    font-family:  "Open Sans", sans-serif;
    font-family: "Playwrite AU NSW", cursive;
}

.info a{
    background:#ff5580;
    padding: 10px 18px;
    text-decoration: none;
    color:#ffd0dd;
    font-family:"Pacifico", cursive;
    display: inline-block;
    margin-top: 30px;
    margin-left: 37%;
    border-radius: 5px;
}
/*--------------------about-------------*/
#about{
    padding: 20px 0;
    color: #ff5580;
    background-color: #ff5580;
}
#about .container {
    background-color: #ffd0dd;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 15px;
}
#about .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#about h1{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    color:#ff5580;
}
#about .col-one{
    flex-basis: 35%;
}
#about .col-two{
    margin-top: 10px;
    margin-right: 20px;
    flex-basis: 60%;
    background-color: white;
    border: 6px solid #ff5580 ;
    border-radius: 5%;
    padding:0 20px;

    flex-direction: column; /* Ensures the contents are stacked vertically */
    justify-content: center; /* Centers the contents vertically */
    align-items: center; /* Centers the contents horizontally */
    text-align: center; /* Optional: Centers the text content */
}
.tab-titles{
    justify-content: center;
    display:flex;
    margin:10px 0;
    
}

#about .col-one{
    padding-left:  40px;
    padding-top: 20px;
    font-family: "Playwrite AU NSW", cursive ;
    font-weight: 600;
    font-size: 18px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-family: "Playwrite AU NSW", cursive;
    font-weight:800;
    cursor:pointer;
    position: relative;
    border: #ff5580;
    
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#fc226f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active::after{
    width:100%;
}
.tab-contents ul li{
    font-family: "Playwrite AU NSW", cursive;
    list-style: none;
    margin: 10px 0;
    padding-top: 8px;
    color:#FF8168;
}
.tab-contents ul li span{
    color:#FF8168;
    font-size: 18px;
    font-weight: 600;
}
.tab-contents{
    display: none;
    font-size: 16px;
    font-weight: 500;
}
.tab-contents.active-tab{
    display:block;
}
/*--------------------projects------------*/

#projects{
    padding: 20px 0px;
    background-color: #ffd0dd;
    margin-top:%;
}
#projects h1{
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    color:#ff5580;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    padding: 10px 50px;
    margin-bottom: 50px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(244, 151, 151, 0.979), #fc226f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 400px;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #fc226f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*----------------------leadership-------------------------*/
#leadership h1{
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    color:#ff5580;
}
#leadership{
    background-color: #ffd0dd;
}
#leadership .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    padding: 10px 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;  
}
#leadership .col{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 5px solid #ff5580; /* Add this line to give a border to each column */
    padding:7px;/* Add padding to see the border clearly */
   
}

#leadership img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
#leadership p{
    text-align: center;
    padding-top: 15px;
    font-family: "Playwrite AU NSW", cursive; 
    font-size: 14px;
    font-weight: 600;
    color: #ff5580;
    
}



/*----------------------Contact-------------------------*/
#contact {
    padding: 20px 0;
    background-color: #ff5580;
}
#contact h1{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    color:#ff5580;
}

#contact .container {
    background-color: #ffd0dd;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#contact .row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-left {
    flex-basis: 45%;
    position: relative;
    padding: 2px 0 0 15%;
    font-family: "Playwrite AU NSW", cursive;
}
.contact-left p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #fc226f;
}

.contact-right {
    flex-basis: 55%;
    position: relative;
    padding-right: 20px;
}

.contact-left i {
    padding-right: 15px;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right input,
.contact-right textarea {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-color: #fc226f;
    border-radius: 10px;
}

.contact-right button{
    background:#ff5580;
    padding: 10px 18px;
    text-decoration: none;
    color:#ffd0dd;
    font-family:"Pacifico", cursive;
    display: inline-block;
    margin-top: 30px;
    align-content: center;
    border-radius: 5px;
    border: none;
}

.contact-right button:hover {
    background-color: #ff5580;
}

.social a {
    color: #fc226f;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.social a:hover {
    color: #fc226f;
}

#contact .btn{
    background:#ff5580;
    padding: 10px 18px;
    text-decoration: none;
    color:#ffd0dd;
    font-family:"Pacifico", cursive;
    display: inline-block;
    margin-top: 30px;
    align-content: center;
    border-radius: 5px;
}

/*----------back to top ---------------*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#fc226f;
    color: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    display: none;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #fc226f;
}

/*----------------------footer---------------------------*/
.footer{
    background-color: #ff5580;
    color: white;
    font-family:"Pacifico", cursive;
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;
}

/*------------------media-query-smallscreen--------------------------*/
